source_env .config/direnvrc
save_known

# DOKKU_APP: the name of the Dokku app
export DOKKU_APP=dokku-radar
# DOKKU_HOST: the Dokku server address
export DOKKU_HOST=
# GRAFANA_DOMAIN: the domain name of the Grafana site
export GRAFANA_DOMAIN=
# GRAFANA_SERVICE_ACCOUNT_TOKEN: a service account token to access the Grafana instance
export GRAFANA_SERVICE_ACCOUNT_TOKEN=
# SSH_CERTIFICATE_PATH: the path to the ssh key to use for access to Dokku
export SSH_CERTIFICATE_PATH=

source_env .envrc.private
fail_on_unknown
ensure_all_documented
ensure_all_set
